.button {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.fill {
  background-color: var(--accent-500);
  color: var(--ligth-100);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  transition: background 0.3s ease;

  &:hover {
    background: #7750e2fd;
  }
}

.normal {
  background: var(--dark-300, #4c4c4c);
  color: var(--ligth-100);
}

.ghost {
  background-color: transparent;
}
