.error {
  outline: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 6px;
  display: flex;
  gap: 7px;

  svg {
    margin-top: 2px;
    height: 13px;
  }
}

.label {
  position: relative;
  color: var(--black-100);
}

.passwordShow {
  position: absolute;
  color: var(--ligth-500);
  top: 50%;
  right: 10px;
}

.input {
  background-color: var(--black-700);
  border-radius: 2px;
  border: 1px solid var(--black-300, #4c4c4c);
  color: var(--ligth-100);

  &::placeholder {
    color: var(--ligth-900);
  }
}
